extends layout/base.pug
block variables
    -const linkInHeader="/signUp.html"
    -const linkDescription="Sign Up"
    -const question="Do not have an account?"
    -const title="Password recovery"
block content
    section.content
        .container
            form.send(action="###" method="POST")
                legend.send__name Reset your password
                input(placeholder="E-mail" type="email")
                input(type="password" placeholder="Confirm password")
                .send__button
                    button(type="submit") Reset


