extends layout/base.pug
block variables
    -const linkInHeader="/signIn.html"
    -const linkDescription="Sign in"
    -const question="Back to"
    -const title="Password recovery"
block content
    section.content
        .container
            form.send(action="###" method="POST")
                legend.send__name Enter your e-mail to reset your password
                input(placeholder="E-mail" type="email")
                .send__button
                    button(type="submit") Sign in


