@import'_reset.scss';
@import'_variables.scss';
a{
    text-decoration: none;
}

button{
    border: 0;
}

main{
    background-color: #f9fafc;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.header{
    display: flex;
    height: 8%;
    justify-content: space-between;
    &__logo{
        background-image: url('../img/logo.svg');
        background-size: cover;
        height: 35.32px;
        margin-left: 141px;
        margin-top: 20px;
        width: 138px;
    }

    &__text{
        margin-right: 137px;
        margin-top: 28px;
        & span{
            color: $content;
            font-family: $roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0.28px;
            line-height: 19px;
        }

        & a{
            color: $sky;
            font-family: $roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0.28px;
            line-height: 19px;
            padding-left: 5px;
        }
    }
}

.content{
    align-items: center;
    display: flex;
    height: 92%;
    justify-content: center;
}

.container{
    align-self: auto;
    background-color: $fon;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0, 45, 113, 0.06);
    margin: 130px auto;
    position: relative;
    width: 632px;
}

.send{
    margin: 70px auto;
    position: relative;
    width: 400px;
    & input{
        background-color: $input;
        border: 2px solid #f2f2f2;
        border-radius: 2px;
        display: block;
        height: 40px;
        margin-bottom: 24px;
        outline: none;
        padding-left: 13px;
        width: 383px;
        &:focus{
            box-shadow: -2px 0 0 0 $sky;
        }

        &::placeholder{
            color: rgba(135, 144, 167, 0.57);
            font-family: $roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: 0.28px;
            line-height: 16px;
        }
    }

    & button{
        background-color: $success;
        border-radius: 2px;
        color: #fff;
        font-family: $exo2;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        height: 42px;
        letter-spacing: 0.4px;
        line-height: 19px;
        text-align: center;
        width: 188px;
    }

    &__link{
        bottom: 55px;
        color: $content;
        font-family: $roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0.28px;
        line-height: 14px;
        position: absolute;
        right: 0;
    }

    &__button{
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }

    &__same{
        display: flex;
        justify-content: space-between;
        width: 400px;
        & input{
            width: 173px;
        }
    }

    &__name{
        color: $primary;
        font-family: $exo2;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.4px;
        line-height: 34px;
        padding-bottom: 27px;
        &--black{
            color: $content;
            font-family: $exo2;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 0.4px;
            line-height: 34px;
            padding-bottom: 27px;
        }
    }

    &__check{
        display: inline-block;
        height: 40px;;
        width: 400px;
        & a,label{
            color: #222428;
            font-family: $roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0.28px;
            line-height: 16px;
        }

        & a{
            color: $primary;
            padding-left: 10px;

        }
    }
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label:before{
    border: 2px solid #f2f2f2;
    border-radius: 2px;
    color: transparent;
    content: "\2714";
    display: inline-block;
    font-size: 20px;
    height: 20px;
    line-height: 22px;
    margin: -5px 5px 0 0;
    text-align: center;
    transition: color ease .3s;
    vertical-align: middle;
    width: 20px;
}

input[type="checkbox"]:checked + label:before{
    color: $success;
}

.square{
    height: 1000px;
    margin: 0 auto;
    width: 1000px;
}

.circle{
    background: rgba(254, 254, 254, 0.45);
    border: 1px solid rgba(254, 254, 254, 0.45);
    border-radius: 50%;
    box-shadow: 0 0 42px rgba(231, 231, 231, 0.13);
    display: flex;
    height: 80%;
    justify-content: center;
    margin: 10% auto;
    width: 80%;
    & h1{
        color: $sky;
        font-family: $exo2;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.4px;
        line-height: 60px;
        position: absolute;
        text-align: center;
        top: 65%;
    }

    & h2{
        color: $content;
        font-family: $exo2;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.4px;
        line-height: 29px;
        position: absolute;
        text-align: center;
        top: 80%;
    }
}

.progress{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 5px;
    &__line{
        background: #ebeff3;
        border-radius: 2px;
        height: 6px;
        width: 128px;
    }
}

.hidden{
    display: none;
}

.envelop{
    background-image: url('../img/email.svg');
    height: 170px;
    margin: 10% auto;
    width: 150px;
}
